/* Estilo para a página final de confirmação */

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #0B1E51;
    margin-bottom: 20px;
}

.data-container {
    margin-bottom: 20px;
}

.data-item {
    display: flex;
    margin-bottom: 10px;
}

.data-item .label {
    font-weight: bold;
    width: 150px; /* Largura fixa para alinhar os dados */
    color: #333;
}

.data-item .value {
    flex: 1;
    color: #555;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirm-button, .edit-button {
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button {
    background-color: #0B1E51;
    color: #fff;
}

.edit-button {
    background-color: #ddd;
    color: #333;
    display: inline-block;
}

.confirm-button:hover {
    background-color: #093a80;
}

.edit-button:hover {
    background-color: #ccc;
}

/* HEADER */
/* Estilo do header */
.header {
    background-color: #0B1E51; /* Cor primary */
    color: white;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between;
    padding: 16px 20px;
    min-height: 100px;
    width: 100%;
}


.header-left {
    display: flex;
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: center;
    /*tirar o sublinhado do link*/
    text-decoration: none;
    text-transform: uppercase;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
}
/*a hover para title*/
.header-title:hover {
    color: white;
}
.logo-min {
    max-height: 50px !important;
    max-width: 50px !important;
    object-fit: contain;
}

.header-right a {
    background-color: #FFF;
    color: #0B1E51;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    min-height: 40px;
    min-width: 80px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.header-right a:hover {
    background-color: #e0e0e0;
}