/* userList.css */
.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0B1E51;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button, .delete-button, .update-button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 8px;
}

.edit-button {
    background-color: #0B1E51;
    color: #fff;
}

.delete-button {
    background-color: #ff4d4d;
    color: #fff;
}

.edit-button:hover {
    background-color: #093a80;
}

.delete-button:hover {
    background-color: #e60000;
}

.update-button {
    background-color: #ddd;
    color: #333;
}

.update-button:hover {
    background-color: #ccc;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #0B1E51;
}


/* HEADER */
/* Estilo do header */
.header {
    background-color: #0B1E51; /* Cor primary */
    color: white;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between;
    padding: 16px 20px;
    min-height: 100px;
    width: 100%;
}


.header-left {
    display: flex;
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: center;
    /*tirar o sublinhado do link*/
    text-decoration: none;
    text-transform: uppercase;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: white;
}
/*a hover para title*/
.header-title:hover {
    color: white;
}
.logo-min {
    max-height: 50px !important;
    max-width: 50px !important;
    object-fit: contain;
}

.header-right a {
    background-color: #FFF;
    color: #0B1E51;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    min-height: 40px;
    min-width: 80px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.header-right a:hover {
    background-color: #e0e0e0;
}


