<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.final.title}">FraudWatch - Confirme seus Dados</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<!-- Inclui o header -->
<div th:replace="~{fragments/header :: header}"></div>

<div class="confirmation-container">
    <h2 th:text="#{label.final.title}">Confirme seus Dados</h2>

    <!-- Exibe os dados para confirmação -->
    <div class="data-container">
        <div class="data-item">
            <span class="label" th:text="#{label.name}">Nome:</span>
            <span class="value" th:text="${usuarioRequest.nome}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.lastname}">Sobrenome:</span>
            <span class="value" th:text="${usuarioRequest.sobrenome}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.email}">Email:</span>
            <span class="value" th:text="${usuarioRequest.email}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.cpf}">CPF:</span>
            <span class="value" th:text="${usuarioRequest.cpf}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.birthdate}">Data de Nascimento:</span>
            <span class="value" th:text="${usuarioRequest.dataNascimento}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.phone}">Telefone:</span>
            <span class="value" th:text="${usuarioRequest.telefone}"></span>
        </div>
    </div>

    <!-- Dados do Endereço -->
    <h3 th:text="#{label.address}">Endereço</h3>
    <div class="data-container">
        <div class="data-item">
            <span class="label" th:text="#{label.cep}">CEP:</span>
            <span class="value" th:text="${usuarioRequest.endereco.cep}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.street}">Logradouro:</span>
            <span class="value" th:text="${usuarioRequest.endereco.logradouro}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.neighborhood}">Bairro:</span>
            <span class="value" th:text="${usuarioRequest.endereco.bairro}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.city}">Cidade:</span>
            <span class="value" th:text="${usuarioRequest.endereco.cidade}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.state}">Estado:</span>
            <span class="value" th:text="${usuarioRequest.endereco.estado}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.region}">Região:</span>
            <span class="value" th:text="${usuarioRequest.endereco.regiao}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.number}">Número:</span>
            <span class="value" th:text="${usuarioRequest.endereco.numero}"></span>
        </div>
        <div class="data-item">
            <span class="label" th:text="#{label.complement}">Complemento:</span>
            <span class="value" th:text="${usuarioRequest.endereco.complemento}"></span>
        </div>
    </div>

    <!-- Formulário de confirmação com os dados ocultos -->
    <div class="button-container">
        <form th:action="@{/create-account/register}" method="post">
            <!-- Dados Pessoais -->
            <input type="hidden" name="nome" th:value="${usuarioRequest.nome}" />
            <input type="hidden" name="sobrenome" th:value="${usuarioRequest.sobrenome}" />
            <input type="hidden" name="email" th:value="${usuarioRequest.email}" />
            <input type="hidden" name="cpf" th:value="${usuarioRequest.cpf}" />
            <input type="hidden" name="dataNascimento" th:value="${usuarioRequest.dataNascimento}" />
            <input type="hidden" name="telefone" th:value="${usuarioRequest.telefone}" />
            <input type="hidden" name="senha" th:value="${usuarioRequest.senha}" />
            <input type="hidden" name="tipoUsuarioid" th:value="${usuarioRequest.tipoUsuarioid}" />

            <!-- Endereço -->
            <input type="hidden" name="endereco.cep" th:value="${usuarioRequest.endereco.cep}" />
            <input type="hidden" name="endereco.logradouro" th:value="${usuarioRequest.endereco.logradouro}" />
            <input type="hidden" name="endereco.bairro" th:value="${usuarioRequest.endereco.bairro}" />
            <input type="hidden" name="endereco.cidade" th:value="${usuarioRequest.endereco.cidade}" />
            <input type="hidden" name="endereco.estado" th:value="${usuarioRequest.endereco.estado}" />
            <input type="hidden" name="endereco.regiao" th:value="${usuarioRequest.endereco.regiao}" />
            <input type="hidden" name="endereco.numero" th:value="${usuarioRequest.endereco.numero}" />
            <input type="hidden" name="endereco.complemento" th:value="${usuarioRequest.endereco.complemento}" />

            <button type="submit" class="confirm-button" th:text="#{label.confirm}">Confirmar</button>
        </form>
        <a th:href="@{/create-account}" class="edit-button" th:text="#{label.edit}">Editar</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
